.background {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: linear-gradient(to bottom right, #ff9f1c, #ffbf69);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.cardContainer {
  padding-top: 4%;
}