@font-face {
  font-family: title;
  src: url(../assets/Hansief.otf);
}

@font-face {
  font-family: text;
  src: url(../assets/Metropolis-Regular.otf);
}

.background {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to bottom right, #f86623, #ff9f1c );
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.skeddabg {
  scale: 1.5;
  width: 500px;
  height: 450px;
  background-image: url(./calendarhero.svg);
  background-size: cover;
  margin-left: 1vw;
}

.bar {
  margin-right: -8vw;
}

.textContainer {
}

.title {
  align-self: flex-start;
  font-family: title;
  font-size: x-large;
  font-weight: 500;
  color: whitesmoke;
}

.text {
  white-space: pre-line;
  color: whitesmoke;
  font-family: text;
  font-weight: 400;
  margin-bottom: 20vh;
}