@font-face {
    font-family: Title;
    src: url(../../assets/ZAPPAT-Black.otf);
  }

.container {
    transition: 1000ms
}

.container:hover {
    transition: 500ms;
    filter: brightness(95%);
}


.title {
    border: 1px solid black;
    position: inherit;
    padding-left: 5%;
    font-family: Title;
}