@font-face {
    font-family: MetropolisMedium;
    src: url(../../assets/Metropolis-Medium.otf);
  }

.node {
    opacity: 0.5;
    -webkit-transform: scale(0.7);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition:.3s;
    transform: scale(0.7);
    transform-origin: 50% 50%;
    transition:.3s;
    transform-box: fill-box;
}

.curNode {
    -webkit-transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition:.3s;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition:.3s;
    transform-box: fill-box;
    transition-delay: 300ms;
}

.staticNode {
    -webkit-transform: scale(0.5), translateX(0px);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition:.3s;
    transform: scale(0.5);
    transform-origin: 50% 50%;
    transition:.3s;
    transform-box: fill-box;
    transition-delay: 150ms;
}

.movingNode {
    -webkit-transform: scale(0.4) translateY(30px);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition:.3s;
    transform: scale(0.4) translateY(232px);
    transform-origin: 50% 50%;
    transition:.3s;
    transform-box: fill-box;
}